@import "../../theme/sizes";

.header {
  display: flex;
  align-items: end;
  border-radius: $size2x;
  background-color: var(--ant-color-neutral-1);
  height: $size * 20;

  .menu {
    flex: 1;
    min-width: 0;
    justify-content: center;
    background-color: var(--ant-color-neutral-1);
  }

  .headerLogo {
    font-size: $size * 13;
    color: var(--ant-color-primary-8);
    background-color: transparent;
    cursor: default;
  }
}

.content {
  min-height: calc(100vh - ($size * 26));
}

.footer {
  background-color: var(--ant-color-neutral-1);
  text-align: center;
  padding: 0;
  border-radius: $size2x;
}
