@import "../../theme/sizes";

.header {
  display: flex;
  align-items: end;
  border-radius: $size2x;
  background-color: var(--ant-color-neutral-1);
  height: $size * 20;

  .menu {
    flex: 1;
    min-width: 0;
    justify-content: center;

    .overflowIcon {
      font-size: $size4x;
      padding: $size4x;
    }
  }

  .headerImage {
    max-width: $size * 40;
  }
}

.content {
  min-height: calc(100vh - ($size * 32));
}

.footer {
  background-color: var(--ant-color-neutral-1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: $size * 12;
}
